.draggableContent {
    position: absolute;
    padding: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    z-index: 10000;
    transition: opacity .3s, background-color .3s;
    color: #333;
    right: 0;
    top: 30vh;
    width: 260px;
    transition: width 0.3s ease;
}

.minimized {
    background-color: rgba(255, 255, 255, 0.5);
    width: 30px;
}

.draggableContent .panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.draggableContent .panelHeader p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}

.draggableContent .iconButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
}

.draggableContent .section {
    margin-bottom: 10px;
    border-bottom: 1px solid #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.draggableContent .section:last-child {
    border-bottom: none;
}

.draggableContent .section h3 {
    margin-bottom: 5px;
}

.draggableContent .section a {
    display: block;
    margin-bottom: 5px;
}

.tabContainer {
    display: flex;
    border-bottom: 1px solid #999;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #999;
    transition: color .3s;
}

.tab:hover {
    color: #333;
}

.tab.active {
    color: #333;
    font-weight: bold;
}

.selectBox, .inputBox {
    padding: 5px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);

}

.selectBox:focus, .inputBox:focus {
    border-color: #4D90FE;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

.optionItem {
    margin-top: 10px;
}

.optionItem label {
    display: flex;
    justify-content: space-between;
}