
.xscrollWrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.xscrollContent{
  display: inline-flex;
  gap: 12px;
}

.yscrollWrapper{
 overflow-y: hidden;
 width: 100%;
}

.yscrollContent{
  display:flex;
  flex-direction: column;
  gap: 12px;
}