.apiDashMask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    z-index: 99999;
    user-select: none;
}

.apiDashContent {
    --aspect: 1.63/1;
    --h48: calc(5.37% / var(--aspect) / 2 * 3);
    --h40: calc(5.37% / var(--aspect) / 4 * 5);
    --h32: calc(5.37% / var(--aspect));
    --h24: calc(5.37% / var(--aspect) / 4 * 3);
    --h16: calc(5.37% / var(--aspect) / 2);
    --h8: calc(5.37% / var(--aspect) / 4);
    border-radius: 1em;
    height: 77%;
    width: auto;
    aspect-ratio: var(--aspect);
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    z-index: 0;
    font-size: var(--fs);
    overflow-y: scroll;
}

.apiDashBody {
    font-size: 1em;
    padding: var(--h48) 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.apiDashBody>* {
    display: block;
}

.apiDashBody::after {
    position: absolute;
    content: '';
    width: 10em;
    height: 10em;
    border-radius: 98px;
    background: rgba(134, 40, 255, 0.80);
    filter: blur(100px);
    right: 0;
    top: 40%;
    transform: translate(20%, -40%);
    z-index: -10;
}

.apiDashHeaderPrimary {
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 2.8em;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    position: relative;
}

.apiDashHeaderSecondary {
    margin-bottom: var(--h48);
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(184, 184, 184, 1);
    font-style: small-caps;
}

.apiDashText {
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(184, 184, 184, 1);
}

.apiDashKeys {
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    width: 100%;
    margin-top: var(--h24);
    margin-bottom: var(--h48)
}

.apiDashKeys table {
    width: 100%;
}

.apiDashKeys th, .apiDashKeys td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.apiDashKeys th {
    font-weight: bold;
}


.apiDashKeyDesc {
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(184, 184, 184, 1);
    width: 60%;
    margin-top: var(--h24);
}

.apiDashKeyActions {
    font-family: 'Helvetica Neue', Helvetica, Arial, Roboto, ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(184, 184, 184, 1);
    width: 60%;
    margin-top: var(--h24);
}

.apiDashKeyAction {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--h8);
}

.apiDashKeyAction>* {
    display: flex;
    align-items: center;
}

.createAPIKeyButton {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: #20B2AA; /* LightSeaGreen color */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .createAPIKeyButton:hover {
    background-color: #3CB371; /* MediumSeaGreen color */
  }
  
  .createAPIKeyButton-icon {
    margin-right: 10px;
    font-size: 20px;
  }



.expense-graph-container {
width: 100%;
}

.expense-graph-wrapper {
position: relative;
height: 400px; /* Adjust height as needed */
width: 100%;
}
