

.body{
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3 ease;
  /* transform: rotate(45deg); */
  animation:change 8s linear 0s infinite normal;
  
}

@keyframes change{
  0%,1.25%{
      transform: rotate(0);
  }
  5%,7.5%{
      transform: rotate(45deg);
  }
  10.75%,25.75%{
      transform: rotate(90deg);
  }
  29.5%,32%{
      transform: rotate(135deg);
  }
  35.75%,50.75%{
      transform: rotate(180deg);
  }
  54.5%,57%{
      transform: rotate(225deg);
  }
  60.75%,75.75%{
      transform: rotate(270deg);
  }
  79.5%,82%{
      transform: rotate(315deg);
  }
  85.75%,100%{
      transform: rotate(360deg);
  }
  
}

.one{
  position: absolute;
  width: 33.25px;
  height: 33.25px;
  border-radius: 100%;
  transform: translate(-90%,-90%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.072) 100%);
  opacity: 1;
  /* transition: all 0.3 ease; */
  animation:changeball1 2s linear 0s infinite normal;
}

.two{
  position: absolute;
  width: 33.25px;
  height: 33.25px;
  border-radius: 100%;
  transform: translate(90%,-90%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.072) 100%);
  opacity: 1;
  /* transition: all 0.3 ease; */
  animation:changeball2 2s linear 0s infinite normal;
}

.three{
  position: absolute;
  width: 33.25px;
  height: 33.25px;
  border-radius: 100%;
  transform: translate(-90%,90%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.072) 100%);
  opacity: 1;
  /* transition: all 0.3 ease; */
  animation:changeball3 2s linear 0s infinite normal;
}

.four{
  position: absolute;
  width: 33.25px;
  height: 33.25px;
  border-radius: 100%;
  transform: translate(90%,90%);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.072) 100%);
  opacity: 1;
  /* transition: all 0.3 ease; */
  animation:changeball4 2s linear 0s infinite normal;
}

@keyframes changeball1{
  0%,5%{
      transform: scale(1) translate(-70%,-70%);
  }
  20%,30%{
      transform: scale(1) translate(-80%,-80%);
  }
  45%,55%{
      transform: scale(1) translate(-70%,-70%);
      opacity: 1;
  }
  70%,80%{
      transform: scale(0.5) translate(-20%,-20%);
      opacity: 0.5;
  }
  95%,100%{
      transform: scale(1) translate(-70%,-70%);
  }
}

@keyframes changeball2{
  0%,5%{
      transform: scale(1) translate(70%,-70%);
  }
  20%,30%{
      transform: scale(1) translate(80%,-80%);
  }
  45%,55%{
      transform: scale(1) translate(70%,-70%);
      opacity: 1;
  }
  70%,80%{
      transform: scale(0.5) translate(20%,-20%);
      opacity: 0.5;
  }
  95%,100%{
      transform: scale(1) translate(70%,-70%);
  }
}

@keyframes changeball3{
  0%,5%{
      transform: scale(1) translate(-70%,70%);
  }
  20%,30%{
      transform: scale(1) translate(-80%,80%);
  }
  45%,55%{
      transform: scale(1) translate(-70%,70%);
      opacity: 1;
  }
  70%,80%{
      transform: scale(0.5) translate(-20%,20%);
      opacity: 0.5;
  }
  95%,100%{
      transform: scale(1) translate(-70%,70%);
  }
}

@keyframes changeball4{
  0%,5%{
      transform: scale(1) translate(70%,70%);
  }
  20%,30%{
      transform: scale(1) translate(80%,80%);
  }
  45%,55%{
      transform: scale(1) translate(70%,70%);
      opacity: 1;
  }
  70%,80%{
      transform: scale(0.5) translate(20%,20%);
      opacity: 0.5;
  }
  95%,100%{
      transform: scale(1) translate(70%,70%);
  }
}

.font{
  position: relative;
  margin-top: 40px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: center;
}
