.overlayBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.skeleton {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    background-size: 200% 100%!important;
    animation: loading 1.5s infinite;
}

.skeleton.DreamFace {
    background: linear-gradient(90deg, #2f2f2f 25%, #232323 50%, #3d3d3d 75%);
}

.skeleton.ImagineFace {
    background: linear-gradient(90deg, #CFEDFE 0%, #D6D7FF 100%);
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}