textarea {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        Roboto,
        'Segoe UI',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        ui-sans-serif,
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid transparent;
    padding: 0;
    color: var(--font-dark-color);
    line-height: 1.5rem;
    font-size: 1rem;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease;
}

textarea:focus {
    border-color: var(--theme-color);
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.driver-popover.rechargedriver .driver-popover-description {
    color: #2D2D2D;
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        Roboto,
        ui-sans-serif,
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.driver-popover.imgbtndriver {
    transform: translate(-10px, 20px);
    box-shadow: none;
    padding: 15px 20px;
    max-width: 500px;
    border-radius: 12px;
}


.driver-popover.imgbtndriver .driver-popover-title {
    text-align: left;
    min-width: max-content;
    width: 90%;
     margin-left: 30px;
}

.driver-popover.imgbtndriver .driver-popover-description {
    width: 90%;
    min-width: max-content;
    color: #888;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 30px;
}

.driver-popover.imgbtndriver  .driver-popover-title::before {
    position: absolute;
    content: '';
    left: -32px;
    top: 50%;
    transform: translateY(-55%);
    width: 24px;
    height: 24px;
    background: url('./assets/imgbtndriver.png') no-repeat;
    background-size: 100%;
}
/* .driver-overlay {
    opacity: 0.7;
} */

.mobileApp {
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
}